fastapi==0.110.0
uvicorn==0.29.0
python-multipart==0.0.6
passlib==1.7.4
python-jose[cryptography]==3.3.0
pyodbc==4.0.39
sqlalchemy==2.0.23
opencv-python==4.8.1.78
ultralytics==8.2.14
 ##webrtcvad==2.0.10  # Updated from 2.0.11
pillow==10.0.1
pdfkit==1.0.0
 ## python-csv==1.0
python-dotenv==1.0.0
nest-asyncio==1.6.0